{% extends "base.html" %}
{% block body %}
{% include "navbar.html" %}
<title>Process Image</title>
<body></body>
<section class="hero is-primary is-bold is-large">
  <div class="hero-body">
      <div class="settings-area">    
          <h1 class="title">Processing Image</h1>
          <p class="title is-2"></p>
          {% if image_name %}
            <div class="field">
                <form id="process" action="{{ url_for('process') }}" method="POST">
                  <strong>File To Process: {{ image_name }}</strong><br>
                  <input type="hidden" name="image_name" value={{ image_name }}>
                  <input type="submit" value="Process" id="login-button">
                </form>        
            </div>    
          {% endif %}
          </p>
      </div>
  </div>
</section>
{% endblock %}
{% block scripts %}
<script src="../static/js/scripts.js"></script>
{% endblock %}
      
